$brightOrange: hsl(31, 77%, 52%);
$darkCyan: hsl(184, 100%, 22%);
$veryDarkCyan: hsl(179, 100%, 13%);

*{
    padding: 0;
    margin: 0;
    background-color: rgb(228, 228, 226);
}

.cards{
    width: 70%;
    position: absolute;
    top: 10%;
    left: 14%;
    display: flex;
    .car{
        width: 33.3%;
        background-color: $brightOrange;
    }
    .car img{
        margin: 40px 0px 30px 40px;
        background-color: $brightOrange;
    }
    .car h1{
        font-size: 30px;
        margin-left: 40px;
        color: white;
        background-color: $brightOrange;
    }
    .car p{
        text-align: center;
        width: 60%;
        height: 140px;
        text-align: left;
        margin: 30px 0px 80px 40px;
        color: rgb(207, 202, 202);
        background-color: $brightOrange;
    }
    .car button{
        background-color: white;
        border: none;
        border-radius: 20px;
        padding: 10px 20px;
        margin: 20px 0px 20px 40px;
        cursor: pointer;rs
        transition: background-color .7s, color .3s;
    }
    .car button:hover{
        background-color: transparent;
        color: white;
        overflow: hidden;
        box-sizing: border-box;
        border: 2px solid white;
        margin: 18px 0px 18px 40px;
    }
    .brightOrange{
        background-color: $brightOrange;
        border-radius: 20px 0px 0px 20px;
    }
    .brightOrange button{
        color: $brightOrange;
    }
    .darkCyan , .darkCyan img , .darkCyan h1 , .darkCyan p{
        background-color: $darkCyan;
    }
    .darkCyan button{
        color: $darkCyan;
    }
    .veryDarkCyan , .veryDarkCyan img , .veryDarkCyan h1 , .veryDarkCyan p{
        background-color: $veryDarkCyan;
        border-radius: 0px 20px 20px 0px;
    }
    .veryDarkCyan button{
        color: $veryDarkCyan;
    }
}

// respnsive port
@media (max-width:375px){
    .cards{
        width: 90%;
        margin-left: -15px;
        margin-bottom: 70px;
        display: block;
        .car{
            width: 90%;
        }
        .brightOrange{
            border-radius: 20px 20px 0px 0px;
        }
        .veryDarkCyan , .veryDarkCyan img , .veryDarkCyan h1 , .veryDarkCyan p{
            border-radius: 0px 0px 20px 20px;
        }
    }
}